doctype html
html(lang="ru-RU")
	head
		script(src="../dist/bundle.js")
		link(rel='stylesheet' href='index.css')
		meta(charset="utf-8")
	body
		div
			input(id="inp")
			input(type="button" id="button" value="get")
		div(id="maindiv")